*{
    box-sizing: border-box;
}
#root, html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}